/* TODO
- 文字色で真っ黒色を使うな
- フォント
*/

/* テキスト選択で色が変わらないようにする */
body.body-locked {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none;     /* IE 10 and IE 11 */
    user-select: none;         /* 標準構文 */
}

/* 以下ヘッダー部分 */
.nav-bar {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;

    background-color: rgba(16, 16, 16, 0.3);
    transition: background-color 0.3s ease;

    padding: 0.5rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar:hover {
    background-color: rgba(16, 16, 16, 0.1);
}

.nav-bar a{
    display: inline-block;
    padding: 0.3rem 0rem;
    color: inherit;
    text-decoration: none; /* removes underline */
    transition: opacity 0.3s ease, color 0.3s ease;
}

.nav-bar:hover a {
    opacity: 0.2;
}

.nav-bar a:hover {
    opacity: 1;
}

.nav-bar:hover .switch {
    opacity: 0.2;
}

.nav-bar .switch:hover {
    opacity: 1;
}

.nav-bar ul {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0 1rem;
}

/* 月と太陽のボタン */
.switch {
    font-size: 12px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    transition: opacity 0.3s ease, color 0.3s ease;
}
  
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    --background: #110922;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #fff000;
    background: var(--background);
    transition: .5s;
}
  
input:checked + .slider {
    background-color: #0f8d96;
}
  
input:checked + .slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #fff000;
}

/* 以下エフェクトなど */
#spotlight {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 100;
    /* background: radial-gradient(circle 100px at 50% 50%, transparent 0%, rgba(0,0,0,1) 100%); */
    transition: background-position 0.05s;
  }


/* 以下最下部のフッター部分 */
footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.3;
    transition: opacity 0.3s ease;
    text-align: center;
    /* color: inherit; ensures the text color follows inherited styles */
    width: auto;
}

footer:hover {
    opacity: 1;
}

/* 以下メインコンテンツ */

/* canvas */
#canvas {
    display: block; /* 余計な横スクロールを防ぐ */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

/* parameterパネル */
#parameter {
    display: inline-flex;
    flex-direction: column;
    background: rgba(16, 16, 16, 0.3);
    border-radius: 10px;
    padding: 0.3rem;
    margin: 0.5rem;

    /* 選択できないようにする */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none;     /* IE 10 and IE 11 */
    user-select: none;         /* 標準構文 */
}

#parameter .param-group {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

#parameter .param-group label {
    display: inline-block;
    width: 160px; /* お好みの幅に調整してね */
}